.pass {background-color: #AAFFAA;}
.fail {background-color: #FFAAAA;}
.error {background-color: #FFFFAA;}
.ignore {background-color: #CCCCCC;}
.fit_stacktrace {font-size: 0.7em;}
.fit_label {font-style: italic; color: #C08080;}
.fit_grey {color: #808080;}
