*.suo
*.user
_ReSharper*/
desktop.ini
build/
bin/
obj/
TestResult.xml
*.cache
Reports/
site/
mwiki/
my*.*
*.pdb
testoutput/
my*/
document/FitnesseRoot/ErrorLogs/
document/FitnesseRoot/RecentChanges/
document/FitnesseRoot/files/testResults/
*.orig
