body {
    font-family: georgia, serif;
    margin: 1em;
}
.pagename {
	font-family: verdana,sans-serif;
	font-weight:bold;
	padding: 5px;
}
.topbar {
	font-family: verdana,sans-serif;
	width: 100%;
	background-color: #e0e0e0;
	padding: 2px 5px 2px 5px;
	border-bottom: 1px solid grey;
}
.content {
    background-color:white;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}
.footer {
    font-family: verdana, sans-serif;
    font-size: x-small;
}
a.siteid {
	font-weight: bold;
	color: blue;
	text-decoration: none;
}
a.siteid:visited, a.siteid:active {
	color: blue;
}
a.externallink {
	background-image: url(./external.png);
	background-position: top right;
	background-repeat: no-repeat;
	padding-right: 8px;
}
table {background-color:white;}
pre.code {}
pre.test { margin-left: 10%; }

.pass {background-color: #AAFFAA;}
.fail {background-color: #FFAAAA;}
.error {background-color: #FFFFAA;}
.ignore {background-color: #CCCCCC;}
.fit_stacktrace {font-size: 0.7em;}
.fit_label {font-style: italic; color: #C08080;}
.fit_grey {color: #808080;}
.fit_extension {border: solid 1px grey;}
.fit_table {border: solid 1px grey; border-collapse: collapse; margin: 2px 0px;}
table.fit_table tr td {border: solid 1px grey; padding: 2px 2px 2px 2px;}
.fit_interpreter {font-style: italic; color: #808020;}
.fit_keyword {color: #1010A0;}
.fit_member {color: #208080;}
.fit_SUT {color: #808020;}

