body {
    font-family: georgia, serif;
    margin: 1em;
}
.pagename {
	font-family: verdana,sans-serif;
	font-weight:bold;
	padding: 5px;
}
.topbar {
	font-family: verdana,sans-serif;
	width: 100%;
	background-color: #e0e0e0;
	padding: 2px 5px 2px 5px;
	border-bottom: 1px solid grey;
}
.content {
    background-color:white;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}
.footer {
    font-family: verdana, sans-serif;
    font-size: x-small;
}
a.siteid {
	font-weight: bold;
	color: blue;
	text-decoration: none;
}
a.siteid:visited, a.siteid:active {
	color: blue;
}
a.externallink {
	background-image: url(./external.png);
	background-position: top right;
	background-repeat: no-repeat;
	padding-right: 8px;
}
table {background-color:white;}
pre.code {}
pre.test { margin-left: 10%; }
