.pass {background-color: #AAFFAA;}
.fail {background-color: #FFAAAA;}
.error {background-color: #FFFFAA;}
.ignore {background-color: #CCCCCC;}
.fit_stacktrace {font-size: 0.7em;}
.fit_label {font-style: italic; color: #C08080;}
.fit_grey {color: #808080;}
.fit_extension {border: solid 1px grey; background-color: white;}
.fit_table {border: solid 1px grey; border-collapse: collapse; margin: 2px 0px;}
table.fit_table tr td {border: solid 1px grey; padding: 2px 2px 2px 2px;}
.fit_interpreter {font-style: italic; color: #808020;}
.fit_keyword {color: #1010A0;}
.fit_member {color: #208080;}
.fit_SUT {color: #808020;}
